.right-details{
    width: 60%;    
    padding: 20px;
    text-align: left;
}

.left-details {
    width: 30%;    
    padding: 20px;
    text-align: left;
}
  
.details {
    text-align: left;
}

.restaurant-details {    
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
}

.items-left-details {
    width: 47%;    
    padding: 20px;
    text-align: left;
}

.item-details {
    flex-wrap: wrap;
    flex-direction: row;
    display: flex;    
}
