.Input.clicked {
    color: white;
}

/** Styling for Application Header*/
.app-header {
    background-color: #243237;
    display: flex;
    align-items: center;
    height: 36px;
    padding: 8px 16px 8px 8px;
    justify-content: space-between;  
}

/** Styling for Restaurant Cards*/
.card-details {    
    justify-content: flex-start;
    display: flex;
    flex-wrap: wrap;
}

.dispNone {
    display: none;
}


.tabs-header {
    margin-bottom: 20px;
}

/** Styling for Error color*/
.red {
    color: red;
} 


.dispBlock {
    display: block;
}


.account-circle {
    cursor: pointer;
    color: ivory;
}

.hr {   
    background-color: #f2f2f2;
    height: 1.5px;
    margin-right: 5px;
    margin-left: 5px;
    
}

.MuiInput-underline:after {
    border-bottom: 2px solid white !important;
}

@media (max-width: 800px) {
    .app-header {
      flex-direction: column;
      height: 122px;
    }
    .card-details {
        flex-direction: column;
    }
}